@font-face {
  font-family: "roboto-regular";
  src: url("statics/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-thin";
  src: url("statics/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-light";
  src: url("statics/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-bold";
  src: url("statics/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-medium";
  src: url("statics/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrinkhand";
  src: url("statics/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body, #bloc-page {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  min-width: 400px;
  font-family: "roboto-regular", sans-serif;
  color: black;
  box-sizing: content-box;
  padding: 0;
  margin: auto;
}
@media screen and (max-width: 400px) {
  body, #bloc-page {
    max-width: 400px;
    min-width: 0;
    margin: 0;
  }
}

#bloc-page {
  box-sizing: content-box;
  padding: 0;
}
@media screen and (max-width: 400px) {
  #bloc-page {
    margin: 0;
  }
}

body a {
  color: black;
  text-decoration: none;
}

h1, h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  padding: 20px;
  font-family: "roboto-medium", sans-serif;
}
@media screen and (max-width: 400px) {
  h1, h2 {
    padding: 20px;
    padding-top: 10px;
  }
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 0;
  margin-top: 0;
  font-family: "shrinkhand", sans-serif;
}

.far, .fas {
  margin-right: 20px;
  margin-left: 10px;
  color: #404040;
}

nav {
  height: 400px;
}

header h1 {
  font-family: "roboto-bold", sans-serif;
}

#logo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
#logo img {
  width: 25%;
}
@media screen and (max-width: 415px) {
  #logo {
    height: 60px;
  }
  #logo img {
    width: 45%;
  }
}

.strip {
  margin: 0;
  padding: 0;
  width: 100%;
}
.strip__loca {
  font-family: "roboto-regular", sans-serif;
  text-align: center;
  background-color: #cccccc;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 3px 2px #999999;
}
.strip__indication {
  font-family: "roboto-light", sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 415px) {
  .strip__indication {
    padding-bottom: 50px;
  }
}
.strip__indication p {
  color: #404040;
  margin-top: 5px;
  margin-bottom: 25px;
}

.btn {
  font-family: "roboto-regular", sans-serif;
  font-size: 100%;
  color: #FFF;
  padding: 15px;
  width: 220px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 2px 2px 10px #b3b3b3;
}

ul {
  padding-left: 190px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 415px) {
  ul {
    display: grid;
    grid-template-columns: auto;
    padding-left: 50px;
  }
}
ul .fa-store {
  color: #9356DC;
}
ul .one, ul .tree, ul .two {
  filter: invert(43%) sepia(39%) saturate(4338%) hue-rotate(241deg) brightness(90%) contrast(91%);
  margin-left: -80px;
}
ul li {
  font-family: "roboto-bold", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border: 1px solid transparent;
  border-radius: 18px;
  width: 90%;
  height: 60px;
  box-shadow: 2px 2px 10px #b3b3b3;
}
ul li:last-child {
  background-color: #ece1f9;
}

section {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
}

.frame {
  display: grid;
  padding-bottom: 20px;
  grid-template-columns: auto auto;
  align-content: center;
  justify-content: center;
  gap: 55px;
}
@media screen and (max-width: 415px) {
  .frame {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
  }
}
.frame__meal {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 250px;
  border: 6px solid transparent;
}
@media screen and (max-width: 415px) {
  .frame__meal {
    width: 300px;
    height: 200px;
  }
}
.frame img {
  position: relative;
  width: 100%;
  height: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.new-meal {
  position: absolute;
  background-color: #99E2D0;
  width: 80px;
  height: 25px;
  color: #278870;
  border-radius: 3px;
  margin-left: 255px;
  margin-top: 20px;
}
.new-meal p {
  text-align: center;
  margin: 0;
  padding-top: 2px;
}
@media screen and (max-width: 415px) {
  .new-meal {
    margin-left: 200px;
  }
}

.banner-meal {
  padding-bottom: 15px;
  font-size: 15px;
  padding-top: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 25%;
  background-color: #FFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "roboto-light", sans-serif;
  box-shadow: 2px 2px 10px #b3b3b3;
}
@media screen and (max-width: 415px) {
  .banner-meal {
    width: 300px;
    height: 25%;
  }
}
.banner-meal__name-restaurant {
  width: 150px;
  font-family: "roboto-bold", sans-serif;
  padding-left: 15px;
}
.banner-meal p {
  font-family: "roboto-light", sans-serif;
  margin: 0;
  padding-top: 5px;
  padding-left: 15px;
}
.banner-meal .fa-heart {
  position: relative;
  left: 300px;
  width: 30px;
  z-index: 0;
  padding: 2px;
  top: 25px;
}
@media screen and (max-width: 415px) {
  .banner-meal .fa-heart {
    position: relative;
    left: 250px;
    width: 30px;
    z-index: 0;
    padding: 2px;
    top: 25px;
  }
}
.banner-meal .fa-heart:hover {
  color: #FF79DA;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  padding: 2px;
  transition: 1.5s;
  -webkit-transition: 1.5s;
}
.banner-meal a:active {
  font-weight: 900;
  display: flex;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
}

.strip__footer {
  background: #353535;
  color: #FFF;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
}
@media screen and (max-width: 415px) {
  .strip__footer {
    height: 200px;
  }
}
.strip__footer h3 {
  text-align: center;
}
@media screen and (max-width: 415px) {
  .strip__footer h3 {
    text-align: start;
    margin-left: 20px;
    padding-top: 20px;
    font-size: 1.2rem;
  }
}
.strip__footer ol {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 415px) {
  .strip__footer ol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin-left: 10px;
    height: 180px;
  }
}
.strip__footer li {
  display: block;
  float: left;
  list-style: none;
}
@media screen and (max-width: 415px) {
  .strip__footer li {
    padding-bottom: 10px;
  }
}
.strip__footer .fas {
  color: #FFF;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 415px) {
  .strip__footer .fas {
    margin-left: 0;
    margin-right: 10px;
  }
}
.strip__footer a {
  color: #FFF;
  padding-right: 60px;
  padding-left: 50px;
}
.strip__footer a:hover {
  color: #99E2D0;
}
@media screen and (max-width: 415px) {
  .strip__footer a {
    padding: 0;
  }
}

/*-------------------------*/
/* ------BEGIN INDEX1-----*/
/*-----------------------*/
.logo_1 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.logo_1 img {
  width: 25%;
}
@media screen and (max-width: 415px) {
  .logo_1 {
    height: 60px;
  }
  .logo_1 img {
    width: 45%;
  }
}
.logo_1 a {
  position: absolute;
  color: #000000;
  left: 0;
  margin-left: 75px;
}
@media screen and (max-width: 415px) {
  .logo_1 a {
    margin-left: 0;
  }
}

.background {
  width: 1400px;
  height: 400px;
}
@media screen and (max-width: 415px) {
  .background {
    width: 100%;
    height: 250px;
  }
}
.background img {
  position: absolute;
  width: 1400px;
  height: 50%;
  object-fit: cover;
  z-index: 0;
  overflow: hidden;
}
@media screen and (max-width: 415px) {
  .background img {
    width: 100%;
    height: 50%;
  }
}

#bloc-menu {
  display: grid;
  gap: 5px;
  width: auto;
  background-color: #f2f2f2;
  position: relative;
  z-index: 3;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-left: 20px;
  padding-top: 10px;
}
@media screen and (max-width: 415px) {
  #bloc-menu {
    padding-left: 25px;
    max-width: 414px;
  }
}
#bloc-menu h3 {
  text-align: center;
}
@media screen and (max-width: 415px) {
  #bloc-menu h3 {
    text-align: start;
    padding-top: 10px;
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 415px) {
  #bloc-menu .fa-heart {
    margin-left: 55px;
  }
}
#bloc-menu h4 {
  margin: 0px;
  padding-top: 25px;
  font-family: "roboto-thin", sans-serif;
}
#bloc-menu.menu-card {
  gap: 15px;
}

.underline {
  width: 3%;
  height: 0px;
  margin: 0px;
  border-top: 3px solid #99E2D0;
  overflow: hidden;
}
@media screen and (max-width: 415px) {
  .underline {
    width: 10%;
    margin-bottom: 10px;
  }
}

.menu {
  display: grid;
  gap: 20px;
  justify-items: center;
}
@media screen and (max-width: 415px) {
  .menu {
    padding-left: 0;
    justify-items: start;
  }
}
.menu__card {
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-template-rows: 1fr;
  width: 75%;
  height: 50px;
  padding: 10px;
  background-color: #FFF;
  border-radius: 10px;
  justify-content: flex-start;
  align-content: center;
  box-shadow: 2px 2px 10px #b3b3b3;
}
@media screen and (max-width: 415px) {
  .menu__card {
    width: 85%;
  }
}
.menu strong {
  height: 18px;
}
.menu p {
  margin: 0;
  grid-column-start: 1;
  white-space: nowrap;
  font-family: "roboto-thin", sans-serif;
}
@media screen and (max-width: 415px) {
  .menu p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.menu b {
  text-align: center;
  width: 30px;
  padding-left: 10px;
  padding-right: 10px;
  grid-column-start: 2;
}
@media screen and (max-width: 415px) {
  .menu b {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.button_order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
}

/*# sourceMappingURL=style.css.map */
